{
  "presets": [
    ["env", {
      "targets": {
        // The % refers to the global coverage of users from browserslist
        "browsers": [ ">0.25%", "not ie 11", "not op_mini all"]
      },
      "modules": false,
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./tmp"],
       "extensions": [".js", ".jsx", ".es", ".es6", ".mjs", ".glsl"]
    }],
    ["import-noop", {
      "extensions": ["css"]
    }],
    ["transform-runtime"],
    ["syntax-dynamic-import"]
  ]
}
