node_modules
/dist/
/trans
/build/
/coverage/
/npm-debug.log
*.pyc
__pycache__
*.sw[pmn]
.vscode
tsconfig.tsbuildinfo
/.eggs
/.tox
/.log
*.so
*.egg-info
.mypy_cache
.nox
.pytest_cache
/ngauth_server/secrets/
.eslintcache
/lib
/.firebase
/test-results
/playwright-report
-/docs/python/api/index.rst
/docs/python/api/*.rst
/.vite
/.idea
/.local
/.env
