language: node_js
dist: trusty
sudo: required
node_js:
- 7.3.0
julia:
  0.5.1
cache:
  directories:
  - node_modules
addons:
  apt:
    packages:
    - mesa-utils
    - xvfb
    - libgl1-mesa-dri
    - libglapi-mesa
    - libosmesa6
before_install:
- openssl aes-256-cbc -K $encrypted_5d2bae8122b8_key -iv $encrypted_5d2bae8122b8_iv
  -in credentials.tar.gz.enc -out credentials.tar.gz -d
- tar -xzf credentials.tar.gz
- sudo mv secrets /secrets && sudo chown $USER /secrets
# build docker container
- $(python version.py) #sets APPVERSION
- docker build --tag tartavull/neuroglancer:$APPVERSION .
script:
- docker run -it -v /secrets:/secrets tartavull/neuroglancer:$APPVERSION /bin/sh -c 'cd /neuroglancer && py.test python/test'
after_success:
- docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
- 'if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker push $DOCKER_USERNAME/neuroglancer;
  else
    docker push $DOCKER_USERNAME/neuroglancer:$APPVERSION;
  fi'

before_deploy:
- npm install
- npm install --only=dev 
- npm run build-min
- cp -r ./dist/min appengine/static/
- export DEPLOY="false"
- if [ "$APPVERSION" == "master" ]; then export DEPLOY="true"; fi
- virtualenv env
- source env/bin/activate
- pip install -t ./appengine/lib -r ./appengine/requirements.txt
deploy:
  provider: gae
  skip_cleanup: true
  keyfile: "/secrets/google-secret.json"
  project: neuromancer-seung-import
  version: "$APPVERSION"
  on:
    all_branches: true
  no_promote: true
  default: "$DEPLOY"
  verbosity: error
  config: "./appengine/app.yaml"
