prune python/examples
prune python/tests
prune python/testdata
prune python/build_tools
prune config
prune ngauth_server
prune src
prune templates
prune third_party
prune typings
prune testdata
prune examples
exclude .clang-format
exclude .editorconfig
exclude .eslintignore
exclude .eslintrc
exclude .style.yapf
exclude cors_webserver.py
exclude gulpfile.js
exclude package.json
exclude package-lock.json
exclude tsconfig.json
exclude tslint.json
prune .github
prune *.egg-info
exclude tox.ini
exclude python/.pylintrc
global-exclude .gitignore
global-exclude .dockerignore
exclude python/Dockerfile
exclude python/CMakeLists.txt
exclude MANIFEST.in
