button.ng-saver.busy, button.ng-saver.busy:hover {
  background-color: grey !important;
  border: 1px solid black;
  color: black;
}

button.ng-saver.inactive, button.ng-saver.fallback{
  background-color: orangered;
  border: 1px solid black;
  color: black;
}

button.ng-saver.dirty {
  background-color: yellow;
  border: 1px solid black;
  color: black;
}

button.ng-saver:hover {
  background-color: #3c3;
  border: 1px solid black;
  color: black;
}

button.ng-saver {
  background-color: #00000000;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 5px;
  width: auto;
  height: auto;
}
/* Popup container */
.ng-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .ng-popup .ng-popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .ng-popup .ng-popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .ng-popup .ng-show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .ng-zebra-table td, .ng-zebra-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .ng-zebra-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .ng-zebra-table tr:hover {background-color: #ddd;}